<!DOCTYPE html>
<html lang="ja">
 <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/login.css">
    <title>ログイン</title>
 </head>
  <body>
    <p class="flowing1">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing1">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing1">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing1">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing1">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing1">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing2">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing2">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing2">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing2">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing2">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <p class="flowing2">  LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
           <form action="/login" method="post">
             {% with messages = get_flashed_messages() %}
               {% if messages %}
                 {% for message in messages %}
                   <p class="strInterval">{{ message }}</p>
                 {% endfor %}
               {% endif %}
             {% endwith %}
             <h1>LOGIN</h1>
               <div class="login_form_btm">
                   <input type="id"  name="username" placeholder="Username">
                   <input type="password" id="pass"  name="password" placeholder="Password">
               </div>
                   <button type="submit" class="button">LOGIN</button>
           </form>
  </body>
</html>