

body {
    background-color: #11bf08;
    width: 1100px; 
    height: auto;
    padding: 0%;
    margin: 100px;
    position: relatively;
    
  }
  
  .strInterval {
    
    /* --- 文字情報設定 ------------------------------ */
    font-size      : 17pt;         /* 文字サイズ       */
    letter-spacing : 0px;          /* 文字間隔         */
    line-height    : 22.7px;          /* 行間隔（1行高さ）*/
    color          : #ff0000;
  }
  
  form {
    width: 600px;
    padding: 60px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #00bfff;
    text-align: center;
  }
  
  form h1,form p {
    color: white;
    font-weight: 500;
  }
  
  form input[type = "id"],form input[type = "password"] {
    border: 0;
    background: #fffb0d;
    display: block;
    margin: 20px auto;
    border: 2px solid #fffb0d;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 50% 20% / 10% 40%;
    transition: 0.4s;
    text-align: center;
  }
  
  form input[type = "id"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: #ffffff;
  }
  
  
  .flowing1 {
  
    animation-name           : sampleAnime1;  /* ルール名 */
    animation-duration       : 10s;            /* 実行時間 */
    animation-timing-function: ease;          /* 動き速度 */
    animation-delay          : 1s;            /* 開始遅延時間 */
    animation-iteration-count: infinite;     /* 再生回数 */
    animation-direction      : alternate;    /* 終了後の動き */
      
    width: 0;
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    color: #ff6347;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .flowing1:nth-child(2) {
    animation-delay: 1.5s;
  }
  
  .flowing1:nth-child(3) {
    animation-delay: 3s;
  }
  
  .flowing1:nth-child(4) {
    animation-delay: 4.5s;
  }
  
  .flowing1:nth-child(5) {
    animation-delay: 6s;
  }
  
  .flowing1:nth-child(6) {
    animation-delay: 7.5s;
  }
  
  @keyframes sampleAnime1 {
   0%{
       width: 0%;
     }
  100%{
       width: 100%;
     }
  }
  
  .flowing2 {
  
    animation-name           : sampleAnime2;  /* ルール名 */
    animation-duration       : 10s;            /* 実行時間 */
    animation-timing-function: ease;          /* 動き速度 */
    animation-delay          : 1s;            /* 開始遅延時間 */
    animation-iteration-count: infinite;     /* 再生回数 */
    animation-direction      : alternate;    /* 終了後の動き */
      
    width: 0;
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    color: #ff6347;
    white-space: nowrap;
    overflow: hidden;
  
  }
  
  .flowing2:nth-child(7) {
    animation-delay: 7.5s;
  }
  
  .flowing2:nth-child(8) {
    animation-delay: 6s;
  }
  
  .flowing2:nth-child(9) {
    animation-delay: 4.5s;
  }
  
  .flowing2:nth-child(10) {
    animation-delay: 3s;
  }
  
  .flowing2:nth-child(11) {
    animation-delay: 1.5s;
  }
  @keyframes sampleAnime2 {      
   0%{
       width: 0%;
     }
  100%{
       width: 100%;
     }
     
  }
  
  
  .button {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 17pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 25px 28px;   /* 余白       */
    background    : #ff0000;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #1a1aff;    /* 枠の指定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ff0000;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
  